<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>
<body th:fragment="navbar">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">

        <a class="navbar-brand fw-bold" th:href="@{/}">CrediHub</a>

        <div class="navbar-nav ms-auto align-items-center">
            <a class="nav-link active" th:href="@{/}">Home</a>

            <th:block sec:authorize="isAnonymous()">
                <a class="nav-link" th:href="@{/login}">Login</a>
                <a class="nav-link" th:href="@{/register}">Register</a>
            </th:block>

            <th:block sec:authorize="isAuthenticated()">
                <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/profile}">Profile</a>

                <a class="nav-link" th:href="@{/applications}">My applications</a>

                <a class="nav-link" th:href="@{/loans}">Loans</a>

                <a class="nav-link" sec:authorize="hasAnyRole('ADMIN','MODERATOR')"
                   th:href="@{/admin/dashboard}">Dashboard</a>

                <a class="nav-link" sec:authorize="hasRole('ADMIN')"
                   th:href="@{/admin/users}">User Management</a>

                <a class="nav-link" sec:authorize="hasRole('ADMIN')"
                   th:href="@{/admin/products}">Products</a>

                <form th:action="@{/logout}" method="post" class="d-inline">
                    <button type="submit" class="nav-link btn btn-link text-white p-0 border-0">Logout</button>
                </form>

            </th:block>

        </div>
    </div>
</nav>
</body>
</html>