<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head('Admin Dashboard')}"></head>

<body class="bg-light d-flex flex-column min-vh-100">

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container-lg mt-5">
    <h2 class="text-center mb-4">Admin Dashboard</h2>
    <div class="card-shadow border-0">
        <div class="card-body p-5">
            <table class="table table-hover align-middle text-center">
                <thead>
                <tr>
                    <th>User</th>
                    <th>Email</th>
                    <th>Identification number</th>
                    <th>Product</th>
                    <th>Amount</th>
                    <th>Period</th>
                    <th>Income</th>
                    <th>Status</th>
                    <th>Created</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="loanApplication : ${applications}">
                    <td th:text="${loanApplication.user.firstName + ' ' + loanApplication.user.getLastName() }"></td>
                    <td th:text="${loanApplication.user.email}"></td>
                    <td th:text="${loanApplication.user.identificationNumber}"></td>
                    <td th:text="${loanApplication.loanProduct.name}"></td>
                    <td th:text="${loanApplication.requestedAmount + ' EUR'}"></td>
                    <td th:text="${loanApplication.periodMonths + ' months'}"></td>
                    <td th:text="${loanApplication.monthlyIncome + ' EUR'}"></td>
                    <td>
                        <span class="badge bg-warning"
                              th:if="${loanApplication.status.name() == 'PENDING'}">Pending</span>

                        <span class="badge bg-success"
                              th:if="${loanApplication.status.name() == 'APPROVED'}">Approved</span>

                        <span class="badge bg-danger"
                              th:if="${loanApplication.status.name() == 'REJECTED'}">Rejected</span>

                        <span class="badge bg-secondary"
                              th:if="${loanApplication.status.name() == 'CANCELLED'}">Cancelled</span>
                    </td>
                    <td th:text="${#temporals.format(loanApplication.createdAt, 'dd.MM.yyyy HH:mm')}"></td>
                    <td>
                        <div th:if="${loanApplication.status.name() == 'PENDING'}" class="d-flex gap-2">
                            <form th:action="@{/admin/applications/{id}/approve(id=${loanApplication.id})}"
                                  method="post">
                                <button class="btn btn-success btn-sm">Approve</button>
                            </form>

                            <form th:action="@{/admin/applications/{id}/reject(id=${loanApplication.id})}"
                                  method="post">
                                <button class="btn btn-danger btn-sm">Reject</button>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>