<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head('User Management')}"></head>

<body class="bg-light d-flex flex-column min-vh-100">

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container-lg mt-5">
    <h2 class="text-center mb-4">Roles</h2>
    <div class="card-shadow border-0">
        <div class="card-body p-5">
            <table class="table table-hover align-middle text-center">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.firstName + ' ' + user.lastName}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.role}"></td>
                    <td>
                        <form th:if="${user.role.name() == 'USER'}"
                              th:action="@{/admin/users/{id}/make-moderator(id=${user.id})}"
                              method="post">
                            <button class="btn btn-success btn-sm">Make Moderator</button>
                        </form>

                        <form th:if="${user.role.name() == 'MODERATOR'}"
                              th:action="@{/admin/users/{id}/remove-moderator(id=${user.id})}"
                              method="post">

                            <button class="btn btn-danger btn-sm">Remove Moderator</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>