<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head('Applications')}"></head>

<body class="bg-light d-flex flex-column min-vh-100">

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container-lg mt-5">
    <h2 class="text-center mb-4">My Applications</h2>
    <div th:if="${applications.isEmpty()}"
         class="card shadow-sm border-0">
        <div class="card-body text-center py-5">
            <h5 class="mb-3">No Applications Found</h5>
            <p class="text-muted mb-4">You haven't submitted any loan applications yet.</p>
            <a th:href="@{/applications/create}"  class="btn btn-primary px-5">Apply Now</a>
        </div>
    </div>

    <table th:unless="${applications.isEmpty()}"
           class="table table-hover align-middle text-center">
        <thead>
        <tr>
            <th>Product</th>
            <th>Amount</th>
            <th>Period</th>
            <th>Status</th>
            <th>Created</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="loanApplication : ${applications}">
            <td th:text="${loanApplication.loanProductName}"></td>
            <td th:text="${loanApplication.requestedAmount}"></td>
            <td th:text="${loanApplication.periodMonths}"></td>
            <td>
                <span class="badge bg-warning"
                      th:if="${loanApplication.status.name() == 'PENDING'}">Pending</span>
                <span class="badge bg-success"
                      th:if="${loanApplication.status.name() == 'APPROVED'}">Approved</span>
                <span class="badge bg-danger"
                      th:if="${loanApplication.status.name() == 'REJECTED'}">Rejected</span>
                <span class="badge bg-secondary"
                      th:if="${loanApplication.status.name() == 'CANCELLED'}">Cancelled</span>
            </td>
            <td th:text="${#temporals.format(loanApplication.createdAt, 'dd MMM yyyy HH:mm')}"></td>
            <td class="text-center">
                <a th:href="@{/applications/{id}(id=${loanApplication.id})}" class="btn btn-primary">View</a>
            </td>
        </tr>
        <tbody>
    </table>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>
